{% extends "base.html" %}

{% block title %}Hackathon{% endblock %}

{% block body %}

<div class="reiseblogg">
    <h1>Hackathon</h1>
    <div class="to-kolonner-oss">
        <div class="kolonne">
            <p>In this hackathon, we have used AI to retrieve data from the energy consumption 
                of specific machines in order to monitor their usage and calculate how much power 
                each machine consumes. By doing so, we can analyze the energy consumption of the 
                various machines, and AI can predict and measure when and for how long they need 
                to be powered on.  </p>
                <br>
            <a href="{{ '/oss' }}"><button class="oss">HVEM VI ER</button></a>
        </div>
        <div class="kolonne">
            <img src="static/images/gruppebilde.jpeg">
        </div>
    </div>
</div>

<div class="tre-kolonner">
    <div class="kol">
        <h2>Tampnet</h2>
        <br>
        <p>Tampet AS is a telecommunications company that specializes in providing high-quality
            services and solutions to businesses and individuals in the telecom sector. 
            They focus on delivering reliable and efficient connectivity, offering services 
            such as data transmission, internet access, and voice communication. Tampet AS 
            works with a range of technologies to ensure that clients receive secure and scalable 
            network solutions that meet their needs. </p>
        <br>
        <div class="scroll"><p></p></div>
    </div>

    <div class="rest">
        <div class="slideshow">
            <div class="slide">
                <div class="bildenr"><p>1/2</p></div>
                <a href="{{ '/sofie' }}"><img src="static/images/ai_vindmolle.jpeg"></a>
            </div>

            <div class="slide">
                <div class="bildenr"><p>2/2</p></div>
                <a href="{{ '/paulina' }}"><img src="static/images/ai_platform.jpeg"></a>
            </div>
        </div>

        <a class="forrige" onclick="plusSlides(-1)">&#10094;</a>
        <a class="neste" onclick="plusSlides(1)">&#10095;</a>
    </div>
</div>

<div class="tredje-seksjon">
    <h2>The Tampnet Drive</h2>
    <div class="stor-container">
        <div class="container">
            <br>
            <div class="lite-bilde">
                <a href="{{ '/paulina' }}"><img src="static/images/tampnet_drive.jpeg"></a>
            </div>
            <div class="info">
                <p class="admin">Administrator</p>
            </div>
        </div>
    </div>
    <br>
</div>

<div class="siste">
    <h1>Siste oppdatering</h1>
    <br>
    <div class="to-kolonner-oss">
        <div class="kolonne">
            <img src="{{ url_for('static', filename='images/' + latest_post.image) }}">
        </div>
        <div class="kolonne">
            <h2>{{ latest_post.title }}</h2>
            <br>
            <p>{{ latest_post.body }}</p>
        </div>
    </div>
</div>

{% endblock %}